page-about {
    ion-title {
        div {
            font-weight: normal !important;
        }
    }
    .en-padding {
        padding: 15px;
        height: 100%;
        position: relative;
    }
    .copyright {
        font-size: 1rem;
        color: #ccc;
        position: absolute;
        bottom: 20px;
        text-align: center;
        width: 100%;
        left: 0;
    }
}