page-about {
 
}
ion-title  {
    div{
        font-weight: normal !important;
    }
}

.no-data-available {
    width: 75%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .enroute-title {
        font-family: 'Gochi Hand', cursive;
        font-size: 60px;
        color: #ccc;
        display: block;
        text-align: center;
    }

    p {
        text-align: center;
        display: block;
        width: 80%;
        margin: 0 auto;
    }
}
