page-add-places {
    ion-title  {
        div{
            font-weight: normal !important;
        }
    }  
    ion-textarea {
        textarea{
            max-width: 100%;
            width: 100%;
            height: 40vh;
        }
    }
}

